NODE_ENV=production
PORT=5000
ALLOWED_ORIGIN=https://sizning-domeningiz.uz
JWT_SECRET=super_maxfiy_uzun_kalit_uchun_32_belgi_va_undan_ortiq
WEATHER_API_KEY=openweathermap_api_kalitingiz_shu_yerda
DB_PATH=/var/www/smartpch/server/smart_pch.db
